
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.home-page-dg2 {
  width: 100%;
  height: 1278rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;

  .navbar-logo-left-kke {
    left: 0;
    overflow: hidden;
    height: 17.2rem;
    padding: 4.55rem 5.25rem 4.85rem 5.25rem;
    width: 151.2rem;
    position: absolute;
    top: 0;
    background-color: #000000;
    box-sizing: border-box;

    .navbar-content-pkW {
      box-sizing: border-box;
      padding: 0.9rem 0rem 0.9rem 1.2rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .navbar-menu-uGA {
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 4.9rem;
        align-items: center;
        flex-shrink: 0;
        margin: 1.5rem 61.4rem 1.5rem 0rem;
        height: calc(100% - 3rem);

        .home-14J {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .contact-izJ {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-s6W {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
        .backup-file-zwp {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
      .navbar-menu-KUJ {
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .facebook-1-4gn {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .instagram-1-Pyx {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .whatsapp-1-WYn {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .google-drive-1-ppN {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-mmnv-9Lr {
    width: 151.6rem;
    height: 442.9rem;
    position: absolute;
    left: 0;
    top: 17.2rem;

    .content-home-GgN {
      overflow: hidden;
      background-size: 148.876% 158.487%;
      padding: 17.85rem 3.5rem 13.2rem 3.5rem;
      height: 94.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-position: -0rem -23.1937rem;
      background-image: url('REPLACE_IMAGE:7d624dd641327102fd62d24da2ea89eef63198f3');
      box-sizing: border-box;
      width: 151.2rem;

      .column-z6a {
        width: 93.3rem;
        height: 100%;

        .rfotografi-8yU {
          line-height: 1.3325;
          color: #ffffff;
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 7.6rem;
          font-size: 18rem;
          font-weight: 700;
        }
        .deskripsi-open-FYJ {
          margin-bottom: 6.95rem;
          max-width: 93.3rem;
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.3325;
          color: #ffffff;
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .button-Nsp {
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.1199999973);
          width: 26.2rem;
          font-weight: 700;
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 2.4rem;
          border: solid 0.4rem #fbd784;
          margin-left: 2rem;
          text-align: center;
          line-height: 1.3999999364;
          color: #ffffff;
          height: 7.7rem;
          box-sizing: border-box;
        }
      }
      .content-home-GgN-bg {
        width: 151.2rem;
        height: 94.7rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:7d624dd641327102fd62d24da2ea89eef63198f3');
      }
    }
    .bg-content-JQ6 {
      height: 29.4rem;
      position: absolute;
      left: 0;
      top: 72.9rem;
      background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
      width: 151.2rem;
    }
    .fortofolio-cQn {
      left: 0.1rem;
      top: 94.5rem;
      display: flex;
      flex-direction: column;
      background-color: #000000;
      align-items: center;
      box-sizing: border-box;
      padding: 15.2rem 11.591rem 38.3rem 13.8rem;
      width: 151rem;
      height: 348.4rem;
      position: absolute;

      .portfolio-7MY {
        margin: 0rem 4.509rem 7.1rem 0rem;
        font-size: 9.6rem;
        font-weight: 400;
        line-height: 1.3325;
        color: #ffffff;
        font-family: Playfair Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-5uyr-qHY {
        width: 100%;
        height: 275rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-d1rn-yuY {
          margin-right: 10.1912rem;
          width: 57.7088rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-3kpn-is8 {
            margin: 0rem 0.009rem 8.4rem 0rem;
            width: calc(100% - 0.0088rem);
            flex-shrink: 0;

            .rectangle-7-TZp {
              width: 57.7rem;
              height: 93.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .rectangle-4-maW {
            height: 81.8338rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 9.3662rem;
            width: 57.7088rem;
          }
          .rectangle-5-fvn {
            background-size: 100% 105.807%;
            background-position: 0 -0.5595rem;
            background-image: url('REPLACE_IMAGE:b2584a9a04519de781aa38fcb623b9204021320a');
            flex-shrink: 0;
            margin-right: 0.0088rem;
            width: 57.7rem;
            height: 81.8rem;
            position: relative;
          }
        }
        .auto-group-xgt8-83g {
          width: 57.7088rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-2-4i2 {
            width: 57.7088rem;
            height: 62.4705rem;
            position: relative;
            background-size: 100% 115.472%;
            background-position: -0.3631rem -3.3803rem;
            background-image: url('REPLACE_IMAGE:ca9c39403166e3b8e744ce70f4c3cb68ac9a6a6e');
            flex-shrink: 0;
          }
          .auto-group-panj-NTp {
            box-sizing: border-box;
            padding-top: 7.8295rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-vedk-Ktr {
              margin: 0rem 0.009rem 7.9rem 0rem;
              box-sizing: border-box;
              padding: 2.8rem 0rem 2.7rem 0rem;
              width: calc(100% - 0.0088rem);
              flex-shrink: 0;

              .rectangle-7-qcJ {
                object-fit: cover;
                vertical-align: top;
                width: 57.7rem;
                height: 93.6rem;
              }
            }
            .rectangle-3-aJz {
              flex-shrink: 0;
              margin-right: 0.0088rem;
              width: 57.7rem;
              height: 97.7rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .capture-your-inportant-moment-Hz6 {
    color: #ffffff;
    font-family: Playfair Display, 'Source Sans Pro';
    left: 32.2rem;
    top: 466.8rem;
    font-size: 6rem;
    font-weight: 400;
    white-space: nowrap;
    width: 87.3rem;
    height: 8rem;
    position: absolute;
    line-height: 1.3325;
  }
  .kami-menyediakan-beberapa-jasa-foto-mau-itu-untuk-keperluan-acara-resmi-keluarga-acara-resmi-pribadi-atau-acara-resmi-sekolah-untuk-harga-kita-bisa-sesuaikan-dengan-budget-client-karena-kita-disini-ingin-membantu-client-agar-acaranya-bisa-berjalan-dengan-lancar-ada-beberapa-jasa-foto-yang-kita-layani-antara-lain-yaitu--xaS {
    height: 28.8rem;
    font-weight: 400;
    line-height: 1.1975;
    font-family: Inria Serif, 'Source Sans Pro';
    width: 118.7rem;
    position: absolute;
    left: 15.3rem;
    top: 486.3rem;
    font-size: 4rem;
    color: #ffffff;
  }
  .auto-group-opun-JGv {
    flex-direction: column;
    padding: 34.1rem 11.6rem 17.8rem 12.2rem;
    width: 151.2rem;
    top: 515.1rem;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 567.4rem;
    position: absolute;
    left: 0;

    .content-wedding-BLi {
      position: relative;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0.6rem 14.8rem 0rem;
      width: 126.8rem;
      height: 70.3rem;
      overflow: hidden;

      .container-goG {
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding-top: 11.845rem;
        width: 100%;
        height: 82.145rem;

        .content-cgv {
          margin: 8.1rem 15.9rem 8.6rem 0rem;
          width: 61.4rem;
          height: calc(100% - 16.7rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .tagline-LN2 {
            width: calc(100% - 36.5rem);
            display: flex;
            align-items: center;
            margin: 0rem 36.5rem 3.5rem 0rem;

            .line-Dgi {
              margin: 0rem 2.4rem 0.2rem 0rem;
              width: 7.2rem;
              height: 0.2rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-Kjk {
              color: #fbd784;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 700;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              font-size: 2rem;
              line-height: 1.2;
              font-family: Alumni Sans, 'Source Sans Pro';
            }
          }
          .wedding-photography-dVY {
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Bodoni MT, 'Source Sans Pro';
            margin-bottom: 2.8rem;
            max-width: 34.6rem;
            font-size: 6.4rem;
          }
          .pernikahan-adalah-momen-yang-berharga-dan-tak-terlupakan-dalam-hidup-seseorang-untuk-membuat-momen-momen-tersebut-dikenang-sepanjang-masa-penggunaan-jasa-fotografi-sangatlah-penting-dengan-menggunakan-jasa-fotografi-profesional-kami-akan-hadir-untuk-mengabadikan-setiap-momen-penting-dan-emosional-dalam-kualitas-yang-tak-terlupakan-MAe {
            font-family: Be Vietnam, 'Source Sans Pro';
            margin-bottom: 7.8rem;
            max-width: 61.4rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            color: #ffffff;
          }
          .button-9MQ {
            display: flex;
            align-items: center;
            background-color: #000000;
            width: 11.5rem;
            font-weight: 500;
            line-height: 1.3999999364;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            height: 5rem;
            border: solid 0.1rem #fbd784;
            box-sizing: border-box;
            font-size: 1.2rem;
            color: #fbd784;
            white-space: nowrap;
          }
        }
        .image-wrapper-3Bt {
          width: 49.5rem;
          height: 100%;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:d0efaefa8992e57984fa4d95cfa1448aa8648ffb');
          box-sizing: border-box;
          padding: 0.1rem 0;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;

          .image-YuL {
            width: 49rem;
            height: 70.1rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .conten-prewedding-35Q {
      overflow: hidden;
      position: relative;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0.6rem 25.9rem 0rem;
      width: 126.8rem;
      height: 70.3rem;

      .container-ZZY {
        width: 123.8rem;
        height: 70.495rem;
        display: flex;
        align-items: center;

        .image-iBY {
          width: 49rem;
          height: 70.495rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.6rem;
        }
        .content-FSN {
          margin: 8.298rem 0rem 13.098rem 0rem;
          width: 63.2rem;
          height: calc(100% - 21.395rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .tagline-x5t {
            margin: 0rem 38.3rem 3.5rem 0rem;
            width: calc(100% - 38.3rem);
            display: flex;
            align-items: center;

            .line-Upv {
              flex-shrink: 0;
              margin: 0rem 2.4rem 0.2rem 0rem;
              width: 7.2rem;
              height: 0.2rem;
              background-color: #fbd784;
            }
            .rfotografi-ocJ {
              font-family: Alumni Sans, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.2;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              color: #fbd784;
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 700;
            }
          }
          .prewedding-photography-Vzv {
            margin-bottom: 2.8rem;
            max-width: 34.6rem;
            font-size: 6.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Bodoni MT, 'Source Sans Pro';
          }
          .menggunakan-jasa-fotografi-profesional-pada-prewedding-singkat-akan-memberikan-kalian-hasil-foto-yang-tampak-alami-dan-menawan-kami-akan-membantu-mengatur-tempat-pencahayaan-dan-sudut-pengambilan-gambar-yang-terbaik-untuk-memastikan-foto-foto-kalian-terlihat-luar-biasa-PaW {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin-bottom: 6.5rem;
            max-width: 63.3rem;
          }
          .button-CXx {
            font-weight: 500;
            color: #fbd784;
            display: flex;
            box-sizing: border-box;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            border: solid 0.1rem #fbd784;
            width: 15rem;
            white-space: nowrap;
            background-color: #000000;
            height: 5rem;
            font-size: 1.2rem;
            line-height: 1.3999999364;
            justify-content: center;
          }
        }
      }
    }
    .content-engagement-gCE {
      position: relative;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0.6rem 19.1rem 0rem;
      width: 126.8rem;
      height: 70.3rem;
      overflow: hidden;

      .container-CwG {
        height: 70.595rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-top: 0.295rem;
        width: 100%;

        .content-YES {
          margin: 8.1rem 14.1rem 13.1rem 0rem;
          width: 63.2rem;
          height: calc(100% - 21.2rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .tagline-rkv {
            margin: 0rem 38.3rem 3.5rem 0rem;
            width: calc(100% - 38.3rem);
            display: flex;
            align-items: center;

            .line-BoC {
              height: 0.2rem;
              background-color: #fbd784;
              flex-shrink: 0;
              margin: 0rem 2.4rem 0.2rem 0rem;
              width: 7.2rem;
            }
            .rfotografi-Waa {
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              flex-shrink: 0;
            }
          }
          .engagement-photography-SUE {
            margin-bottom: 2.8rem;
            max-width: 34.6rem;
            font-size: 6.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Bodoni MT, 'Source Sans Pro';
          }
          .momen-tunangan-adalah-salah-satu-momen-paling-berharga-dalam-kehidupan-anda-mengapa-tidak-mengabadikannya-dengan-indah-dan-profesional-dengan-menggunakan-jasa-fotografer-kami-anda-dapat-memastikan-bahwa-setiap-momen-spesial-dan-kebahagiaan-anda-terjaga-dengan-sempurna-mFc {
            margin-bottom: 6.5rem;
            max-width: 63.3rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
          }
          .button-Cbp {
            height: 5rem;
            font-size: 1.2rem;
            align-items: center;
            border: solid 0.1rem #fbd784;
            width: 15rem;
            font-weight: 500;
            color: #fbd784;
            display: flex;
            line-height: 1.3999999364;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            box-sizing: border-box;
            background-color: #000000;
            white-space: nowrap;
          }
        }
        .image-J94 {
          width: 49.5rem;
          height: 70.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .content-free-event-qPt {
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 19.1rem 0.6rem;
      box-sizing: border-box;
      padding: 0.1rem 0;
      height: 70.3rem;
      width: 126.8rem;
      background-color: #000000;

      .container-wSv {
        padding-top: 0.1025rem;
        width: 123.8rem;
        height: 69.9975rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        .image-5Z8 {
          width: 49rem;
          height: 69.895rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.6rem;
        }
        .content-RN6 {
          margin: 7.998rem 0rem 12.797rem 0rem;
          width: 63.2rem;
          height: calc(100% - 20.795rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .tagline-wrE {
            margin: 0rem 38.3rem 3.5rem 0rem;
            width: calc(100% - 38.3rem);
            display: flex;
            align-items: center;

            .line-VMx {
              margin: 0rem 2.4rem 0.2rem 0rem;
              width: 7.2rem;
              height: 0.2rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-E4e {
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 700;
              line-height: 1.2;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              font-family: Alumni Sans, 'Source Sans Pro';
              font-size: 2rem;
              color: #fbd784;
            }
          }
          .free-event-photography-Mf4 {
            line-height: 1.2575;
            color: #ffffff;
            font-family: Bodoni MT, 'Source Sans Pro';
            margin-bottom: 2.8rem;
            max-width: 34.6rem;
            font-size: 6.4rem;
            font-weight: 400;
          }
          .moment-indah-kamu-seperti-hari-ulang-tahun-kelulusan-sekolah-wisuda-atau-moment-lainnya-tidak-akan-terjadi-dua-kali-dalam-waktu-dekat-dengan-itu-sangat-sayang-jika-tidak-di-abadikan-dalam-sebuah-foto-untuk-menyimpan-moment-penting-itu--Hoc {
            max-width: 63.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin-bottom: 6.5rem;
          }
          .button-Xxr {
            width: 15rem;
            line-height: 1.3999999364;
            display: flex;
            box-sizing: border-box;
            height: 5rem;
            justify-content: center;
            color: #fbd784;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            white-space: nowrap;
            border: solid 0.1rem #fbd784;
            background-color: #000000;
          }
        }
      }
    }
    .content-modeling-Cp6 {
      margin: 0rem 0.6rem 14.8rem 0rem;
      width: 126.8rem;
      height: 70.3rem;
      overflow: hidden;
      position: relative;
      background-color: #000000;
      flex-shrink: 0;

      .container-XbU {
        height: 70.595rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.295rem 0.5rem 0rem 0rem;
        width: 100%;

        .content-fSn {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin: 8.1rem 14.5rem 13.1rem 0rem;
          width: 62.8rem;
          height: calc(100% - 21.2rem);

          .tagline-Bg2 {
            margin: 0rem 37.9rem 3.5rem 0rem;
            width: calc(100% - 37.9rem);
            display: flex;
            align-items: center;

            .line-vdc {
              margin: 0rem 2.4rem 0.2rem 0rem;
              width: 7.2rem;
              height: 0.2rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-TtS {
              letter-spacing: 0.6rem;
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              line-height: 1.2;
              flex-shrink: 0;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
          .modeling-photography-BpS {
            max-width: 34.6rem;
            font-size: 6.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Bodoni MT, 'Source Sans Pro';
            margin-bottom: 2.8rem;
          }
          .mengabadikan-secara-personal-secara-personal-untuk-kepentingan-media-sosial-dia-sendiri-atau-untuk-keperluan-bisnis-dan-juga-bisa-untuk-portofolio-kita--X7c {
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin-bottom: 12.9rem;
            max-width: 62.8rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
          }
          .button-yVQ {
            height: 5rem;
            line-height: 1.3999999364;
            justify-content: center;
            box-sizing: border-box;
            background-color: #000000;
            width: 15rem;
            font-weight: 500;
            white-space: nowrap;
            display: flex;
            align-items: center;
            border: solid 0.1rem #fbd784;
            font-size: 1.2rem;
            color: #fbd784;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .image-san {
          width: 49rem;
          height: 70.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .content-collaboration-QKp {
      height: 70.3rem;
      overflow: hidden;
      position: relative;
      background-color: #000000;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 126.8rem;

      .container-wae {
        padding-right: 0.2rem;
        width: 123.8rem;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        .image-VMG {
          width: 49rem;
          height: 70.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 11.6rem;
        }
        .content-diN {
          width: 63rem;
          height: calc(100% - 21.2rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin: 8.2rem 0rem 13rem 0rem;

          .tagline-MeN {
            margin: 0rem 38.1rem 3.5rem 0rem;
            width: calc(100% - 38.1rem);
            display: flex;
            align-items: center;

            .line-tuC {
              margin: 0rem 2.4rem 0.2rem 0rem;
              width: 7.2rem;
              height: 0.2rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-dbt {
              text-transform: uppercase;
              color: #fbd784;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2;
              letter-spacing: 0.6rem;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .collaboration-xPG {
            margin-bottom: 3.1rem;
            font-size: 6.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Bodoni MT, 'Source Sans Pro';
            white-space: nowrap;
          }
          .bekerja-sama-untuk-menghasilkan-foto-yang-menarik-dan-kreatif-melalui-kolaborasi-ini-para-fotografer-model-make-up-artis-desain-grafis-atau-yang-terkait-lainnya-bekerja-sama-untuk-menghasilkan-sesuatu-yang-di-inginkan-seperti-mempromosikan-merek-produk-content-media-sosial-atau-untuk-keperluan-lainnya-JCE {
            font-family: Be Vietnam, 'Source Sans Pro';
            margin-bottom: 14.2rem;
            max-width: 63rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            color: #ffffff;
          }
          .button-hVG {
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            line-height: 1.3999999364;
            white-space: nowrap;
            background-color: #000000;
            color: #fbd784;
            border: solid 0.1rem #fbd784;
            width: 15rem;
            height: 5rem;
            font-size: 1.2rem;
            font-weight: 500;
            align-items: center;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  .testimonial-column-light-kyL {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 6.4rem 0rem 4.9rem 16.75rem;
    width: 209.1rem;
    position: absolute;
    top: 1082.5rem;
    height: 52.2rem;
    left: 0;
    overflow: hidden;
    align-items: center;
    background-color: #000000;

    .title-3hY {
      font-size: 6.4rem;
      line-height: 1.2000000477;
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 72.35rem 4rem 0rem;
      text-align: center;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
    }
    .columns-krr {
      width: 254.3rem;
      height: 29.2rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      flex-shrink: 0;

      .content-gVc {
        height: 100%;
        border: solid 0.1rem #e4ebf3;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem;
        width: 35rem;

        .quote-qNW {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .text-Pup {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.2rem;
            max-width: 29.8rem;
            font-size: 1.4rem;
          }
          .author-JG6 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.4rem 8.8rem 2.4rem 1.6rem;
            width: 100%;
            height: 10.8rem;
            display: flex;
            align-items: center;
            background-color: #f5f7fa;

            .image-d3U {
              border-radius: 10rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 6rem;
              height: 6rem;
              object-fit: cover;
              vertical-align: top;
            }
            .info-x5k {
              margin: 0.25rem 0;
              height: calc(100% - 0.5rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .author-name-tzz {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
              }
              .vp-of-company-dSn {
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
      .content-88e {
        border: solid 0.1rem #e4ebf3;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem;
        width: 35rem;
        height: 100%;

        .quote-sc2 {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .text-2zi {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.2rem;
            max-width: 29.8rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .author-Ab8 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.4rem 8.8rem 2.4rem 1.6rem;
            width: 100%;
            height: 10.8rem;
            display: flex;
            align-items: center;
            background-color: #f5f7fa;

            .image-VdQ {
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 6rem;
              height: 6rem;
              object-fit: cover;
            }
            .info-djc {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.25rem 0;
              height: calc(100% - 0.5rem);

              .author-name-bRY {
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 2rem;
                font-weight: 700;
              }
              .vp-of-company-YLn {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .content-fRQ {
        width: 35rem;
        height: 100%;
        border: solid 0.1rem #e4ebf3;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem;

        .quote-cbY {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .text-aYN {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.2rem;
            max-width: 29.8rem;
            font-size: 1.4rem;
          }
          .author-7oC {
            height: 10.8rem;
            display: flex;
            align-items: center;
            background-color: #f5f7fa;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.4rem 8.8rem 2.4rem 1.6rem;
            width: 100%;

            .image-FuQ {
              margin-right: 0.8rem;
              width: 6rem;
              height: 6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
            .info-oAE {
              margin: 0.25rem 0;
              height: calc(100% - 0.5rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .author-name-Z9Q {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
              }
              .vp-of-company-VYr {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .content-CiA {
        box-sizing: border-box;
        padding: 2.4rem;
        width: 35rem;
        height: 100%;
        border: solid 0.1rem #e4ebf3;
        background-color: #ffffff;
        flex-shrink: 0;

        .quote-xhL {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;

          .text-vu4 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.2rem;
            max-width: 29.8rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .author-51G {
            box-sizing: border-box;
            padding: 2.4rem 8.8rem 2.4rem 1.6rem;
            width: 100%;
            height: 10.8rem;
            display: flex;
            align-items: center;
            background-color: #f5f7fa;
            flex-shrink: 0;

            .image-oxr {
              margin-right: 0.8rem;
              width: 6rem;
              height: 6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
            .info-MUa {
              height: calc(100% - 0.5rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.25rem 0;

              .author-name-7Cr {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
              }
              .vp-of-company-rRL {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .content-Zae {
        border: solid 0.1rem #e4ebf3;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 0rem 2.4rem 2.4rem;
        width: 101.5rem;
        height: 100%;

        .quote-Jo8 {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .text-g9U {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 11.5rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .author-KTL {
            align-items: center;
            box-sizing: border-box;
            height: 10.8rem;
            width: calc(100% - 68.9rem);
            display: flex;
            background-color: #f5f7fa;
            flex-shrink: 0;
            margin-right: 68.9rem;
            padding: 2.4rem 8.8rem 2.4rem 1.6rem;

            .image-2sY {
              object-fit: cover;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 6rem;
              height: 6rem;
            }
            .info-Z6n {
              margin: 0.25rem 0;
              height: calc(100% - 0.5rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .author-name-WXp {
                margin-bottom: 0.4rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .vp-of-company-FkJ {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
  .company-k4n {
    white-space: nowrap;
    width: 16.5rem;
    height: 2.7rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.2rem;
    line-height: 1.2125;
    color: #ffffff;
    position: absolute;
    left: 67.3rem;
    top: 1256.5rem;
    text-align: center;
  }
  .auto-group-kaqe-SiJ {
    top: 1262.2rem;
    display: flex;
    align-items: center;
    width: 42.4rem;
    height: 2.7rem;
    position: absolute;
    left: 55.7rem;

    .privacy-policy-xwY {
      font-weight: 300;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      margin-right: 5.6rem;
      text-align: center;
      font-size: 2.2rem;
      color: #ffffff;
    }
    .terms-and-conditions-GBY {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
}
