
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-1-yc2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-color: #000000;
  box-sizing: border-box;
  padding-top: 16.8rem;
  position: relative;

  .auto-group-bedk-ixv {
    width: 100%;
    height: 123.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-19-DHQ {
      background-repeat: no-repeat;
      background-position: center;
      height: 53.3069rem;
      left: 102.1456rem;
      top: 4.6847rem;
      background-color: #d9d9d9;
      width: 57.7088rem;
      position: absolute;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:9560da781a55d3df9cd472a9f1d7bf3356c7db2f');
    }
    .rectangle-18-c4e {
      width: 60.4924rem;
      height: 53.5635rem;
      position: absolute;
      left: 0;
      top: 31.8rem;
      background-color: #d9d9d9;
      background-size: 100% 127.058%;
      background-image: url('REPLACE_IMAGE:813258745c22c0d3ed92f922223d1835434e99c7');

      .rectangle-18-c4e-bg {
        height: 53.5635rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:813258745c22c0d3ed92f922223d1835434e99c7');
        width: 60.4924rem;
      }
    }
    .xt000000-1-4BY {
      object-fit: cover;
      vertical-align: top;
      width: 224.3rem;
      height: 96.3rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .bg-content-bBU {
      background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
      width: 192rem;
      height: 70rem;
      position: absolute;
      left: 0;
      top: 48.2rem;
    }
    .portfolio-sug {
      height: 10.9rem;
      top: 112.8rem;
      font-size: 8.1308rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Playfair Display, 'Source Sans Pro';
      white-space: nowrap;
      width: 31.8rem;
      position: absolute;
      left: 63.8rem;
      line-height: 1.3325;
    }
    .deskripsi-open-Ykv {
      line-height: 1.3325;
      color: #ffffff;
      font-size: 2.6rem;
      font-weight: 400;
      font-family: Playfair Display, 'Source Sans Pro';
      width: 93.3rem;
      height: 17.4rem;
      position: absolute;
      left: 5.4rem;
      top: 52.9rem;
    }
    .rfotografi-2RC {
      height: 24rem;
      top: 26.5rem;
      line-height: 1.3325;
      color: #ffffff;
      width: 91.5rem;
      position: absolute;
      left: 4.4rem;
      font-size: 18rem;
      font-weight: 700;
      font-family: Playfair Display, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-20-4Mt {
      left: 5.4rem;
      top: 77.3rem;
      border: solid 0.3rem #ffffff;
      box-sizing: border-box;
      width: 26.0958rem;
      height: 7.2142rem;
      position: absolute;
    }
    .hubungi-kita-ZpS {
      width: 21.8rem;
      height: 4.4rem;
      top: 78.7rem;
      font-size: 3.6rem;
      line-height: 1.1975;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      left: 7.55rem;
      text-align: center;
      font-weight: 700;
      font-family: Inria Serif, 'Source Sans Pro';
    }
  }
  .auto-group-7hua-4FQ {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.7rem 0rem 12.891rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-k3qz-xLn {
      width: calc(100% - 28.2563rem);
      height: 277.8545rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 13.756rem 38.617rem 14.5rem;

      .auto-group-gtjc-3d8 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.4663rem;
        width: 57.7337rem;
        height: 100%;

        .rfg01051-1-NfQ {
          margin: 0rem 0.034rem 13.552rem 0rem;
          width: 57.7rem;
          height: 93.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-4-s6N {
          height: 81.8338rem;
          background-color: #d9d9d9;
          background-size: 100% 105.764%;
          background-position: 0 -4.4934rem;
          background-image: url('REPLACE_IMAGE:d61380fa79aaffd5fa2ad29b4fe8dde9bdc12c55');
          flex-shrink: 0;
          margin: 0rem 0rem 8.582rem 0.025rem;
          width: calc(100% - 0.0249rem);

          .rectangle-4-s6N-bg {
            width: 57.7088rem;
            height: 81.8338rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:d61380fa79aaffd5fa2ad29b4fe8dde9bdc12c55');
          }
        }
        .rectangle-5-5CS {
          background-color: #d9d9d9;
          background-size: 100% 107.817%;
          background-position: 0 -0.4381rem;
          background-image: url('REPLACE_IMAGE:b2584a9a04519de781aa38fcb623b9204021320a');
          flex-shrink: 0;
          margin-left: 0.0249rem;
          width: calc(100% - 0.0249rem);
          height: 80.2869rem;

          .rectangle-5-5CS-bg {
            width: 57.7088rem;
            height: 80.2869rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:b2584a9a04519de781aa38fcb623b9204021320a');
          }
        }
      }
      .auto-group-87hg-ZtJ {
        width: 57.7437rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-3ebp-imC {
          padding-bottom: 7.7rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .rectangle-2-fgS {
            background-size: 100% 115.472%;
            background-position: 0rem -3.6123rem;
            background-image: url('REPLACE_IMAGE:ca9c39403166e3b8e744ce70f4c3cb68ac9a6a6e');
            flex-shrink: 0;
            margin: 0rem 0.035rem 7.73rem 0rem;
            width: calc(100% - 0.035rem);
            height: 62.4705rem;
            background-color: #d9d9d9;

            .rectangle-2-fgS-bg {
              width: 57.7088rem;
              height: 62.4705rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:ca9c39403166e3b8e744ce70f4c3cb68ac9a6a6e');
            }
          }
          .rfg00460-1-yDG {
            background-image: url('REPLACE_IMAGE:aa9d3172c98567fea5bcee8601f81d058413aa02');
            flex-shrink: 0;
            margin-right: 0.0437rem;
            width: 57.7rem;
            height: 99.1rem;
            position: relative;
            background-size: 114.5% 100%;
            background-position: -4.1833rem 0;
          }
        }
        .rectangle-3-spS {
          background-color: #d9d9d9;
          background-size: 116.28% 100%;
          background-position: -4.7002rem 0;
          background-image: url('REPLACE_IMAGE:634874dd8fb514067544f1b0c47bec0fc77ee56f');
          flex-shrink: 0;
          width: 100%;
          height: 100.7163rem;

          .rectangle-3-spS-bg {
            width: 57.7437rem;
            height: 100.7163rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:634874dd8fb514067544f1b0c47bec0fc77ee56f');
          }
        }
      }
    }
    .about-mev {
      font-weight: 400;
      line-height: 1.3325;
      color: #ffffff;
      font-family: Playfair Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 12.8284rem;
      font-size: 8.1308rem;
    }
    .kami-menyediakan-beberapa-jasa-foto-mau-itu-untuk-keperluan-acara-resmi-keluarga-acara-resmi-pribadi-atau-acara-resmi-sekolah-untuk-harga-kita-bisa-sesuaikan-dengan-budget-client-karena-kita-disini-ingin-membantu-client-agar-acaranya-bisa-berjalan-dengan-lancar-ada-beberapa-jasa-foto-yang-kita-layani-antara-lain-yaitu--6SJ {
      max-width: 118.7rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 8.5rem 28.9rem 0rem;
    }
    .auto-group-abb4-b1g {
      flex-shrink: 0;
      margin: 0rem 0.4rem 6.3rem 0rem;
      width: calc(100% - 0.4rem);
      height: 530.6rem;
      display: flex;
      align-items: flex-start;

      .content-6DL {
        padding: 0rem 11.1rem 8.8rem 12rem;
        width: 150.8rem;
        height: 100%;
        overflow: hidden;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;

        .content-Zsc {
          margin: 0rem 0.9rem 20rem 0rem;
          width: calc(100% - 0.9rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-wcwg-hU2 {
            width: 71.3rem;
            height: 57rem;
            position: relative;
            flex-shrink: 0;
            margin: 0.2rem 6.5rem 0rem 0rem;

            .equipment-c5C {
              left: 0;
              top: 0;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              height: 24rem;
              position: absolute;
              font-weight: 700;
              line-height: 1;
              white-space: nowrap;
              width: 27.6rem;
              font-size: 24rem;
            }
            .content-WgN {
              width: 62.5rem;
              height: 47.6rem;
              position: absolute;
              left: 8.8rem;
              top: 9.4rem;
              overflow: hidden;

              .tagline-dkz {
                margin: 0rem 37.6rem 3.5rem 0rem;
                width: calc(100% - 37.6rem);
                display: flex;
                align-items: center;

                .line-uyQ {
                  margin: 0rem 2.4rem 0.2rem 0rem;
                  width: 7.2rem;
                  height: 0.2rem;
                  background-color: #fbd784;
                  flex-shrink: 0;
                }
                .rfotografi-pKg {
                  font-size: 2rem;
                  font-weight: 700;
                  letter-spacing: 0.6rem;
                  text-transform: uppercase;
                  color: #fbd784;
                  font-family: Alumni Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  line-height: 1.2;
                  white-space: nowrap;
                }
              }
              .wedding-photography-L38 {
                font-family: Bodoni MT, 'Source Sans Pro';
                margin-bottom: 2.8rem;
                max-width: 34.6rem;
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #ffffff;
              }
              .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-rGN {
                margin-bottom: 6.7rem;
                max-width: 62.5rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7777777778;
                color: #ffffff;
                font-family: Be Vietnam, 'Source Sans Pro';
              }
              .more-EXp {
                margin-right: 49.6rem;
                width: calc(100% - 49.6rem);
                display: flex;
                align-items: center;

                .equipment-P9p {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.64;
                  color: #fbd784;
                  font-family: Catamaran, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.32rem;
                }
                .icon-navigation-arrowdownward24px-HW6 {
                  margin-top: 0.5001rem;
                  width: 2.58rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .rfg00659-1-A46 {
            vertical-align: top;
            flex-shrink: 0;
            width: 49rem;
            height: 70.5rem;
            object-fit: cover;
          }
        }
        .content-h42 {
          margin-bottom: 19.8rem;
          box-sizing: border-box;
          padding-right: 0.1rem;
          width: 100%;
          height: 70.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .xt000000-2-Do4 {
            flex-shrink: 0;
            margin-right: 14.4rem;
            width: 49rem;
            height: 70.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-hkz6-MeN {
            margin: 5.9rem 0rem 4.2rem 0rem;
            width: 64.2rem;
            height: calc(100% - 10.1rem);
            position: relative;
            flex-shrink: 0;

            .equipment-ff4 {
              left: 0;
              top: 0;
              font-size: 24rem;
              font-weight: 700;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              width: 27.6rem;
              position: absolute;
              white-space: nowrap;
              height: 24rem;
              line-height: 1;
            }
            .content-b2v {
              width: 55.4rem;
              height: 50.8rem;
              position: absolute;
              left: 8.8rem;
              top: 9.4rem;
              overflow: hidden;

              .tagline-hre {
                width: calc(100% - 30.5rem);
                display: flex;
                align-items: center;
                margin: 0rem 30.5rem 3.5rem 0rem;

                .line-2tv {
                  flex-shrink: 0;
                  margin: 0rem 2.4rem 0.2rem 0rem;
                  width: 7.2rem;
                  height: 0.2rem;
                  background-color: #fbd784;
                }
                .rfotografi-iWr {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.2;
                  text-transform: uppercase;
                  color: #fbd784;
                  letter-spacing: 0.6rem;
                  font-family: Alumni Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .prewedding-photography-2Ge {
                margin-bottom: 2.8rem;
                max-width: 34.6rem;
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Bodoni MT, 'Source Sans Pro';
              }
              .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-M42 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7777777778;
                color: #ffffff;
                font-family: Be Vietnam, 'Source Sans Pro';
                margin-bottom: 6.7rem;
                max-width: 55.4rem;
              }
              .more-wY2 {
                margin-right: 42.5rem;
                width: calc(100% - 42.5rem);
                display: flex;
                align-items: center;

                .equipment-J7g {
                  margin-right: 1.32rem;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.64;
                  color: #fbd784;
                  font-family: Catamaran, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .icon-navigation-arrowdownward24px-2pN {
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.5001rem;
                  width: 2.58rem;
                }
              }
            }
          }
        }
        .content-iBQ {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 0.9rem 20rem 0rem;
          width: calc(100% - 0.9rem);
          display: flex;

          .auto-group-zbkl-nwx {
            height: 57rem;
            position: relative;
            flex-shrink: 0;
            margin: 0.2rem 6.5rem 0rem 0rem;
            width: 71.3rem;

            .equipment-hZ8 {
              font-weight: 700;
              color: #ffffff;
              width: 27.6rem;
              height: 24rem;
              top: 0;
              font-size: 24rem;
              white-space: nowrap;
              position: absolute;
              left: 0;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
            }
            .content-DXU {
              left: 8.8rem;
              top: 9.4rem;
              overflow: hidden;
              width: 62.5rem;
              height: 47.6rem;
              position: absolute;

              .tagline-M7t {
                align-items: center;
                margin: 0rem 37.6rem 3.5rem 0rem;
                width: calc(100% - 37.6rem);
                display: flex;

                .line-sc2 {
                  height: 0.2rem;
                  background-color: #fbd784;
                  flex-shrink: 0;
                  margin: 0rem 2.4rem 0.2rem 0rem;
                  width: 7.2rem;
                }
                .rfotografi-CuC {
                  font-size: 2rem;
                  font-weight: 700;
                  color: #fbd784;
                  white-space: nowrap;
                  flex-shrink: 0;
                  line-height: 1.2;
                  letter-spacing: 0.6rem;
                  text-transform: uppercase;
                  font-family: Alumni Sans, 'Source Sans Pro';
                }
              }
              .engagement-photography-wLz {
                color: #ffffff;
                font-family: Bodoni MT, 'Source Sans Pro';
                margin-bottom: 2.8rem;
                max-width: 34.6rem;
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.2575;
              }
              .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-Gu4 {
                margin-bottom: 6.7rem;
                max-width: 62.5rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7777777778;
                color: #ffffff;
                font-family: Be Vietnam, 'Source Sans Pro';
              }
              .more-SBG {
                align-items: center;
                margin-right: 49.6rem;
                width: calc(100% - 49.6rem);
                display: flex;

                .equipment-zTg {
                  flex-shrink: 0;
                  margin-right: 1.32rem;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.64;
                  color: #fbd784;
                  font-family: Catamaran, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .icon-navigation-arrowdownward24px-8pn {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.5001rem;
                  width: 2.58rem;
                  height: 1.6rem;
                }
              }
            }
          }
          .rfg00659-1-TMG {
            height: 70.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 49rem;
          }
        }
        .content-PVp {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 19.8rem;
          box-sizing: border-box;
          padding-right: 0.1rem;
          width: 100%;
          height: 70.3rem;
          display: flex;

          .xt000000-2-vVk {
            margin-right: 14.4rem;
            width: 49rem;
            height: 70.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-ovw2-TVg {
            margin: 5.9rem 0rem 4.2rem 0rem;
            width: 64.2rem;
            height: calc(100% - 10.1rem);
            position: relative;
            flex-shrink: 0;

            .equipment-Nce {
              font-weight: 700;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              width: 27.6rem;
              position: absolute;
              left: 0;
              color: #ffffff;
              white-space: nowrap;
              height: 24rem;
              top: 0;
              font-size: 24rem;
            }
            .content-T8J {
              width: 55.4rem;
              height: 50.8rem;
              position: absolute;
              left: 8.8rem;
              top: 9.4rem;
              overflow: hidden;

              .tagline-xar {
                margin: 0rem 30.5rem 3.5rem 0rem;
                width: calc(100% - 30.5rem);
                display: flex;
                align-items: center;

                .line-Vqg {
                  margin: 0rem 2.4rem 0.2rem 0rem;
                  width: 7.2rem;
                  height: 0.2rem;
                  background-color: #fbd784;
                  flex-shrink: 0;
                }
                .rfotografi-2Kp {
                  font-family: Alumni Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 2rem;
                  font-weight: 700;
                  letter-spacing: 0.6rem;
                  color: #fbd784;
                  line-height: 1.2;
                  text-transform: uppercase;
                  flex-shrink: 0;
                }
              }
              .free-event-photography-Y3G {
                margin-bottom: 2.8rem;
                max-width: 34.6rem;
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Bodoni MT, 'Source Sans Pro';
              }
              .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-4nJ {
                max-width: 55.4rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7777777778;
                color: #ffffff;
                font-family: Be Vietnam, 'Source Sans Pro';
                margin-bottom: 6.7rem;
              }
              .more-GdU {
                display: flex;
                align-items: center;
                margin-right: 42.5rem;
                width: calc(100% - 42.5rem);

                .equipment-bve {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 1.32rem;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.64;
                  color: #fbd784;
                  font-family: Catamaran, 'Source Sans Pro';
                }
                .icon-navigation-arrowdownward24px-Vm8 {
                  flex-shrink: 0;
                  margin-top: 0.5rem;
                  width: 2.58rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
        }
        .content-cKx {
          margin: 0rem 0.9rem 20rem 0rem;
          width: calc(100% - 0.9rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-2qji-YzJ {
            position: relative;
            flex-shrink: 0;
            margin: 0.2rem 6.5rem 0rem 0rem;
            width: 71.3rem;
            height: 57rem;

            .equipment-gKp {
              color: #ffffff;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 24rem;
              width: 27.6rem;
              font-weight: 700;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .content-Cox {
              overflow: hidden;
              width: 62.5rem;
              height: 47.6rem;
              position: absolute;
              left: 8.8rem;
              top: 9.4rem;

              .tagline-8hc {
                display: flex;
                align-items: center;
                margin: 0rem 37.6rem 3.5rem 0rem;
                width: calc(100% - 37.6rem);

                .line-fxS {
                  margin: 0rem 2.4rem 0.2rem 0rem;
                  width: 7.2rem;
                  height: 0.2rem;
                  background-color: #fbd784;
                  flex-shrink: 0;
                }
                .rfotografi-ook {
                  color: #fbd784;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2rem;
                  font-weight: 700;
                  letter-spacing: 0.6rem;
                  text-transform: uppercase;
                  line-height: 1.2;
                  font-family: Alumni Sans, 'Source Sans Pro';
                }
              }
              .modeling-photography-KXC {
                color: #ffffff;
                font-family: Bodoni MT, 'Source Sans Pro';
                margin-bottom: 2.8rem;
                max-width: 34.6rem;
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.2575;
              }
              .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-ohG {
                font-weight: 400;
                line-height: 1.7777777778;
                color: #ffffff;
                font-family: Be Vietnam, 'Source Sans Pro';
                margin-bottom: 6.7rem;
                max-width: 62.5rem;
                font-size: 1.8rem;
              }
              .more-pMU {
                margin-right: 49.6rem;
                width: calc(100% - 49.6rem);
                display: flex;
                align-items: center;

                .equipment-a5k {
                  flex-shrink: 0;
                  margin-right: 1.32rem;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.64;
                  color: #fbd784;
                  font-family: Catamaran, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .icon-navigation-arrowdownward24px-WEJ {
                  margin-top: 0.5rem;
                  width: 2.58rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .rfg00659-1-pkn {
            flex-shrink: 0;
            width: 49rem;
            height: 70.5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-xrz {
          padding-right: 0.1rem;
          width: 100%;
          height: 70.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .xt000000-2-Wdc {
            margin-right: 14.4rem;
            width: 49rem;
            height: 70.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-p99p-S1U {
            margin: 5.9rem 0rem 11.9rem 0rem;
            width: 64.2rem;
            height: calc(100% - 17.8rem);
            position: relative;
            flex-shrink: 0;

            .equipment-hxz {
              line-height: 1;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              width: 27.6rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 24rem;
              font-weight: 700;
            }
            .content-dbk {
              width: 55.4rem;
              height: 43.1rem;
              position: absolute;
              left: 8.8rem;
              top: 9.4rem;
              overflow: hidden;

              .tagline-xtv {
                width: calc(100% - 30.5rem);
                display: flex;
                align-items: center;
                margin: 0rem 30.5rem 3.5rem 0rem;

                .line-hLi {
                  flex-shrink: 0;
                  margin: 0rem 2.4rem 0.2rem 0rem;
                  width: 7.2rem;
                  height: 0.2rem;
                  background-color: #fbd784;
                }
                .rfotografi-2dt {
                  font-weight: 700;
                  line-height: 1.2;
                  text-transform: uppercase;
                  color: #fbd784;
                  flex-shrink: 0;
                  font-size: 2rem;
                  letter-spacing: 0.6rem;
                  font-family: Alumni Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .collaboration-MRG {
                color: #ffffff;
                font-family: Bodoni MT, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 3.1rem;
                font-size: 6.4rem;
                font-weight: 700;
                line-height: 1.2575;
              }
              .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-Ukn {
                max-width: 55.4rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7777777778;
                color: #ffffff;
                font-family: Be Vietnam, 'Source Sans Pro';
                margin-bottom: 6.7rem;
              }
              .more-2Qv {
                display: flex;
                align-items: center;
                margin-right: 42.5rem;
                width: calc(100% - 42.5rem);

                .equipment-aBY {
                  margin-right: 1.32rem;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.64;
                  color: #fbd784;
                  font-family: Catamaran, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .icon-navigation-arrowdownward24px-7hG {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.5rem;
                  width: 2.58rem;
                  height: 1.6rem;
                }
              }
            }
          }
        }
      }
      .rectangle-14-o4J {
        margin: 92.779rem 41.705rem 0rem 0rem;
        width: 34.4261rem;
        height: 43.6407rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .button-ud8 {
      margin: 0rem 30.5rem 99.5rem 30.5rem;
      width: calc(100% - 61rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-3-EfQ {
        align-items: center;
        width: 100%;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        border: solid 0.4rem #d4b157;
        box-sizing: border-box;
        margin-bottom: 7.6rem;
        height: 18.3rem;
        font-weight: 700;
        justify-content: center;
        font-size: 9.6rem;
        flex-shrink: 0;
        line-height: 1.1975;
        font-family: Inria Serif, 'Source Sans Pro';
        display: flex;
      }
      .frame-2-J9U {
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 18.3rem;
        text-align: center;
        font-family: Inria Serif, 'Source Sans Pro';
        display: flex;
        font-size: 9.6rem;
        font-weight: 700;
        line-height: 1.1975;
        white-space: nowrap;
        border: solid 0.4rem #d4b157;
        flex-shrink: 0;
        color: #ffffff;
        justify-content: center;
      }
    }
    .contact-KKU {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 20rem 0.1rem;
      font-size: 8.1308rem;
      font-weight: 400;
      line-height: 1.3325;
      color: #ffffff;
      font-family: Playfair Display, 'Source Sans Pro';
    }
    .company-RtJ {
      margin: 0rem 2.297rem 2.409rem 0rem;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-8gox-8Xp {
      width: calc(100% - 110.6194rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 55.319rem 0rem 55.3rem;

      .privacy-policy-T4J {
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 3.7806rem;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
      }
      .terms-and-conditions-BFC {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
