
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-1-yc2 {
  box-sizing: border-box;
  padding-top: 16.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv {
  width: 100%;
  height: 123.7rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .rectangle-19-DHQ {
  width: 57.7088rem;
  height: 53.3069rem;
  position: absolute;
  left: 102.1456rem;
  top: 4.6847rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-19-bg.png');
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .rectangle-18-c4e {
  width: 60.4924rem;
  height: 53.5635rem;
  position: absolute;
  left: 0;
  top: 31.8rem;
  background-color: #d9d9d9;
  background-size: 100% 127.058%;
  background-image: url('../assets/rectangle-18-bg.png');
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .rectangle-18-c4e .rectangle-18-c4e-bg {
  width: 60.4924rem;
  height: 53.5635rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:813258745c22c0d3ed92f922223d1835434e99c7');
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .xt000000-1-4BY {
  width: 224.3rem;
  height: 96.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .bg-content-bBU {
  width: 192rem;
  height: 70rem;
  position: absolute;
  left: 0;
  top: 48.2rem;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .portfolio-sug {
  width: 31.8rem;
  height: 10.9rem;
  position: absolute;
  left: 63.8rem;
  top: 112.8rem;
  font-size: 8.1308rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .deskripsi-open-Ykv {
  width: 93.3rem;
  height: 17.4rem;
  position: absolute;
  left: 5.4rem;
  top: 52.9rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .rfotografi-2RC {
  width: 91.5rem;
  height: 24rem;
  position: absolute;
  left: 4.4rem;
  top: 26.5rem;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .rectangle-20-4Mt {
  width: 26.0958rem;
  height: 7.2142rem;
  position: absolute;
  left: 5.4rem;
  top: 77.3rem;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
}
.macbook-pro-14-1-yc2 .auto-group-bedk-ixv .hubungi-kita-ZpS {
  width: 21.8rem;
  height: 4.4rem;
  position: absolute;
  left: 7.55rem;
  top: 78.7rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ {
  box-sizing: border-box;
  padding: 6.7rem 0rem 12.891rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn {
  margin: 0rem 13.756rem 38.617rem 14.5rem;
  width: calc(100% - 28.2563rem);
  height: 277.8545rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-gtjc-3d8 {
  margin-right: 7.4663rem;
  width: 57.7337rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-gtjc-3d8 .rfg01051-1-NfQ {
  margin: 0rem 0.034rem 13.552rem 0rem;
  width: 57.7rem;
  height: 93.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-gtjc-3d8 .rectangle-4-s6N {
  margin: 0rem 0rem 8.582rem 0.025rem;
  width: calc(100% - 0.0249rem);
  height: 81.8338rem;
  background-color: #d9d9d9;
  background-size: 100% 105.764%;
  background-position: 0 -4.4934rem;
  background-image: url('../assets/rectangle-4-bg.png');
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-gtjc-3d8 .rectangle-4-s6N .rectangle-4-s6N-bg {
  width: 57.7088rem;
  height: 81.8338rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d61380fa79aaffd5fa2ad29b4fe8dde9bdc12c55');
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-gtjc-3d8 .rectangle-5-5CS {
  margin-left: 0.0249rem;
  width: calc(100% - 0.0249rem);
  height: 80.2869rem;
  background-color: #d9d9d9;
  background-size: 100% 107.817%;
  background-position: 0 -0.4381rem;
  background-image: url('../assets/rectangle-5-bg.png');
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-gtjc-3d8 .rectangle-5-5CS .rectangle-5-5CS-bg {
  width: 57.7088rem;
  height: 80.2869rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:b2584a9a04519de781aa38fcb623b9204021320a');
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ {
  width: 57.7437rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ .auto-group-3ebp-imC {
  box-sizing: border-box;
  padding-bottom: 7.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ .auto-group-3ebp-imC .rectangle-2-fgS {
  margin: 0rem 0.035rem 7.73rem 0rem;
  width: calc(100% - 0.035rem);
  height: 62.4705rem;
  background-color: #d9d9d9;
  background-size: 100% 115.472%;
  background-position: 0rem -3.6123rem;
  background-image: url('../assets/rectangle-2-bg.png');
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ .auto-group-3ebp-imC .rectangle-2-fgS .rectangle-2-fgS-bg {
  width: 57.7088rem;
  height: 62.4705rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:ca9c39403166e3b8e744ce70f4c3cb68ac9a6a6e');
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ .auto-group-3ebp-imC .rfg00460-1-yDG {
  margin-right: 0.0437rem;
  width: 57.7rem;
  height: 99.1rem;
  position: relative;
  background-size: 114.5% 100%;
  background-position: -4.1833rem 0;
  background-image: url('../assets/rfg00460-1.png');
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ .rectangle-3-spS {
  width: 100%;
  height: 100.7163rem;
  background-color: #d9d9d9;
  background-size: 116.28% 100%;
  background-position: -4.7002rem 0;
  background-image: url('../assets/rectangle-3-bg.png');
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-k3qz-xLn .auto-group-87hg-ZtJ .rectangle-3-spS .rectangle-3-spS-bg {
  width: 57.7437rem;
  height: 100.7163rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:634874dd8fb514067544f1b0c47bec0fc77ee56f');
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .about-mev {
  margin-bottom: 12.8284rem;
  font-size: 8.1308rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .kami-menyediakan-beberapa-jasa-foto-mau-itu-untuk-keperluan-acara-resmi-keluarga-acara-resmi-pribadi-atau-acara-resmi-sekolah-untuk-harga-kita-bisa-sesuaikan-dengan-budget-client-karena-kita-disini-ingin-membantu-client-agar-acaranya-bisa-berjalan-dengan-lancar-ada-beberapa-jasa-foto-yang-kita-layani-antara-lain-yaitu--6SJ {
  margin: 0rem 8.5rem 28.9rem 0rem;
  max-width: 118.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g {
  margin: 0rem 0.4rem 6.3rem 0rem;
  width: calc(100% - 0.4rem);
  height: 530.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL {
  box-sizing: border-box;
  padding: 0rem 11.1rem 8.8rem 12rem;
  width: 150.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc {
  margin: 0rem 0.9rem 20rem 0rem;
  width: calc(100% - 0.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 {
  margin: 0.2rem 6.5rem 0rem 0rem;
  width: 71.3rem;
  height: 57rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .equipment-c5C {
  width: 27.6rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN {
  width: 62.5rem;
  height: 47.6rem;
  position: absolute;
  left: 8.8rem;
  top: 9.4rem;
  overflow: hidden;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .tagline-dkz {
  margin: 0rem 37.6rem 3.5rem 0rem;
  width: calc(100% - 37.6rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .tagline-dkz .line-uyQ {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .tagline-dkz .rfotografi-pKg {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #fbd784;
  font-family: Alumni Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .wedding-photography-L38 {
  margin-bottom: 2.8rem;
  max-width: 34.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Bodoni MT, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-rGN {
  margin-bottom: 6.7rem;
  max-width: 62.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  color: #ffffff;
  font-family: Be Vietnam, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .more-EXp {
  margin-right: 49.6rem;
  width: calc(100% - 49.6rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .more-EXp .equipment-P9p {
  margin-right: 1.32rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.64;
  color: #fbd784;
  font-family: Catamaran, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .auto-group-wcwg-hU2 .content-WgN .more-EXp .icon-navigation-arrowdownward24px-HW6 {
  margin-top: 0.5001rem;
  width: 2.58rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-Zsc .rfg00659-1-A46 {
  width: 49rem;
  height: 70.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 {
  margin-bottom: 19.8rem;
  box-sizing: border-box;
  padding-right: 0.1rem;
  width: 100%;
  height: 70.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .xt000000-2-Do4 {
  margin-right: 14.4rem;
  width: 49rem;
  height: 70.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN {
  margin: 5.9rem 0rem 4.2rem 0rem;
  width: 64.2rem;
  height: calc(100% - 10.1rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .equipment-ff4 {
  width: 27.6rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v {
  width: 55.4rem;
  height: 50.8rem;
  position: absolute;
  left: 8.8rem;
  top: 9.4rem;
  overflow: hidden;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .tagline-hre {
  margin: 0rem 30.5rem 3.5rem 0rem;
  width: calc(100% - 30.5rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .tagline-hre .line-2tv {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .tagline-hre .rfotografi-iWr {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #fbd784;
  font-family: Alumni Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .prewedding-photography-2Ge {
  margin-bottom: 2.8rem;
  max-width: 34.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Bodoni MT, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-M42 {
  margin-bottom: 6.7rem;
  max-width: 55.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  color: #ffffff;
  font-family: Be Vietnam, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .more-wY2 {
  margin-right: 42.5rem;
  width: calc(100% - 42.5rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .more-wY2 .equipment-J7g {
  margin-right: 1.32rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.64;
  color: #fbd784;
  font-family: Catamaran, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-h42 .auto-group-hkz6-MeN .content-b2v .more-wY2 .icon-navigation-arrowdownward24px-2pN {
  margin-top: 0.5001rem;
  width: 2.58rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ {
  margin: 0rem 0.9rem 20rem 0rem;
  width: calc(100% - 0.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx {
  margin: 0.2rem 6.5rem 0rem 0rem;
  width: 71.3rem;
  height: 57rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .equipment-hZ8 {
  width: 27.6rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU {
  width: 62.5rem;
  height: 47.6rem;
  position: absolute;
  left: 8.8rem;
  top: 9.4rem;
  overflow: hidden;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .tagline-M7t {
  margin: 0rem 37.6rem 3.5rem 0rem;
  width: calc(100% - 37.6rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .tagline-M7t .line-sc2 {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .tagline-M7t .rfotografi-CuC {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #fbd784;
  font-family: Alumni Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .engagement-photography-wLz {
  margin-bottom: 2.8rem;
  max-width: 34.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Bodoni MT, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-Gu4 {
  margin-bottom: 6.7rem;
  max-width: 62.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  color: #ffffff;
  font-family: Be Vietnam, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .more-SBG {
  margin-right: 49.6rem;
  width: calc(100% - 49.6rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .more-SBG .equipment-zTg {
  margin-right: 1.32rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.64;
  color: #fbd784;
  font-family: Catamaran, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .auto-group-zbkl-nwx .content-DXU .more-SBG .icon-navigation-arrowdownward24px-8pn {
  margin-top: 0.5001rem;
  width: 2.58rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-iBQ .rfg00659-1-TMG {
  width: 49rem;
  height: 70.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp {
  margin-bottom: 19.8rem;
  box-sizing: border-box;
  padding-right: 0.1rem;
  width: 100%;
  height: 70.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .xt000000-2-vVk {
  margin-right: 14.4rem;
  width: 49rem;
  height: 70.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg {
  margin: 5.9rem 0rem 4.2rem 0rem;
  width: 64.2rem;
  height: calc(100% - 10.1rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .equipment-Nce {
  width: 27.6rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J {
  width: 55.4rem;
  height: 50.8rem;
  position: absolute;
  left: 8.8rem;
  top: 9.4rem;
  overflow: hidden;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .tagline-xar {
  margin: 0rem 30.5rem 3.5rem 0rem;
  width: calc(100% - 30.5rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .tagline-xar .line-Vqg {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .tagline-xar .rfotografi-2Kp {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #fbd784;
  font-family: Alumni Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .free-event-photography-Y3G {
  margin-bottom: 2.8rem;
  max-width: 34.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Bodoni MT, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-4nJ {
  margin-bottom: 6.7rem;
  max-width: 55.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  color: #ffffff;
  font-family: Be Vietnam, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .more-GdU {
  margin-right: 42.5rem;
  width: calc(100% - 42.5rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .more-GdU .equipment-bve {
  margin-right: 1.32rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.64;
  color: #fbd784;
  font-family: Catamaran, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-PVp .auto-group-ovw2-TVg .content-T8J .more-GdU .icon-navigation-arrowdownward24px-Vm8 {
  margin-top: 0.5rem;
  width: 2.58rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx {
  margin: 0rem 0.9rem 20rem 0rem;
  width: calc(100% - 0.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ {
  margin: 0.2rem 6.5rem 0rem 0rem;
  width: 71.3rem;
  height: 57rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .equipment-gKp {
  width: 27.6rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox {
  width: 62.5rem;
  height: 47.6rem;
  position: absolute;
  left: 8.8rem;
  top: 9.4rem;
  overflow: hidden;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .tagline-8hc {
  margin: 0rem 37.6rem 3.5rem 0rem;
  width: calc(100% - 37.6rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .tagline-8hc .line-fxS {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .tagline-8hc .rfotografi-ook {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #fbd784;
  font-family: Alumni Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .modeling-photography-KXC {
  margin-bottom: 2.8rem;
  max-width: 34.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Bodoni MT, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-ohG {
  margin-bottom: 6.7rem;
  max-width: 62.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  color: #ffffff;
  font-family: Be Vietnam, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .more-pMU {
  margin-right: 49.6rem;
  width: calc(100% - 49.6rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .more-pMU .equipment-a5k {
  margin-right: 1.32rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.64;
  color: #fbd784;
  font-family: Catamaran, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .auto-group-2qji-YzJ .content-Cox .more-pMU .icon-navigation-arrowdownward24px-WEJ {
  margin-top: 0.5rem;
  width: 2.58rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-cKx .rfg00659-1-pkn {
  width: 49rem;
  height: 70.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz {
  box-sizing: border-box;
  padding-right: 0.1rem;
  width: 100%;
  height: 70.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .xt000000-2-Wdc {
  margin-right: 14.4rem;
  width: 49rem;
  height: 70.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U {
  margin: 5.9rem 0rem 11.9rem 0rem;
  width: 64.2rem;
  height: calc(100% - 17.8rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .equipment-hxz {
  width: 27.6rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk {
  width: 55.4rem;
  height: 43.1rem;
  position: absolute;
  left: 8.8rem;
  top: 9.4rem;
  overflow: hidden;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .tagline-xtv {
  margin: 0rem 30.5rem 3.5rem 0rem;
  width: calc(100% - 30.5rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .tagline-xtv .line-hLi {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .tagline-xtv .rfotografi-2dt {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #fbd784;
  font-family: Alumni Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .collaboration-MRG {
  margin-bottom: 3.1rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Bodoni MT, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .the-nice-thing-about-beginning-hiking-is-that-you-dont-really-need-any-special-gear-you-can-probably-get-away-with-things-you-already-have-lets-start-with-clothing-a-typical-mistake-hiking-beginners-make-is-wearing-jeans-and-regular-clothes-which-will-get-heavy-and-chafe-wif-they-get-sweaty-or-wet-Ukn {
  margin-bottom: 6.7rem;
  max-width: 55.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  color: #ffffff;
  font-family: Be Vietnam, 'Source Sans Pro';
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .more-2Qv {
  margin-right: 42.5rem;
  width: calc(100% - 42.5rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .more-2Qv .equipment-aBY {
  margin-right: 1.32rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.64;
  color: #fbd784;
  font-family: Catamaran, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .content-6DL .content-xrz .auto-group-p99p-S1U .content-dbk .more-2Qv .icon-navigation-arrowdownward24px-7hG {
  margin-top: 0.5rem;
  width: 2.58rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-abb4-b1g .rectangle-14-o4J {
  margin: 92.779rem 41.705rem 0rem 0rem;
  width: 34.4261rem;
  height: 43.6407rem;
  background-color: #000000;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .button-ud8 {
  margin: 0rem 30.5rem 99.5rem 30.5rem;
  width: calc(100% - 61rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .button-ud8 .frame-3-EfQ {
  margin-bottom: 7.6rem;
  width: 100%;
  height: 18.3rem;
  text-align: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.4rem #d4b157;
  box-sizing: border-box;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .button-ud8 .frame-2-J9U {
  width: 100%;
  height: 18.3rem;
  text-align: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.4rem #d4b157;
  box-sizing: border-box;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .contact-KKU {
  margin: 0rem 0rem 20rem 0.1rem;
  font-size: 8.1308rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .company-RtJ {
  margin: 0rem 2.297rem 2.409rem 0rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-8gox-8Xp {
  margin: 0rem 55.319rem 0rem 55.3rem;
  width: calc(100% - 110.6194rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-8gox-8Xp .privacy-policy-T4J {
  margin-right: 3.7806rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-1-yc2 .auto-group-7hua-4FQ .auto-group-8gox-8Xp .terms-and-conditions-BFC {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
